body{
    font-family: 'Montserrat';
    background-color: #3A208C;

}

body h1,h2,h3, p{
    margin: none;
}



header{
    background-color: #3A208C;
    color: white;
    font-family: 'Montserrat';
}

.navbar-responsive{
    display: none;
}

.form-control img{
    max-width: 30px;
    width: 30px;
    position: absolute;
    left: 10px;
}

.logo-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-nav a{
    text-decoration: none;
    color: white;
}

.logo-nav a:hover{
    color: #d9d9d9;
}

.p-3 h3{
    font-size: clamp (1.5rem, 1vw, 1rem);
    font-weight: 600;
}


.nav-txt{
    color: white;
    font-weight: 600;
    font-family: 'Montserrat';
}

.entrar{
    background-color: white;
    color: #4D1362;
    width: 130px;
    padding: 3px 15px;
    font-family: 'Montserrat';
    font-weight: 600;
    border: none;
}

.cadastrar{
    background-color: #16022F;
    color: white;
    width: 130px;
    padding: 3px 15px;
    font-family: 'Montserrat';
    font-weight: 600;
    border: none;
}

input.form-control.input-form{
    background-color: none !important; 
    border-radius: 0;
    color: white;
    border: none;
    border-bottom: 2px solid white;
}

.form-control::placeholder{
    color: white;
    font-family: 'Montserrat';
}

.img-nav{
    max-width: 25px;
    width: 25px;
    margin-left: -30px;
}

.btn-form img:hover {
    filter: invert(50%) sepia(1) saturate(200%) hue-rotate(20deg);
}


.cadastrar:hover{
    background-color: white;
    color: #16022F;
    transition: 0.3s ease;
}

.entrar:hover{
    background-color: #16022F;
    color: white;
    transition: 0.3s ease;
}

.nav-txt:hover{
    color: #d9d9d9;
}

.text-end{
    gap: 10px;
}

/*corpo*/

main{
    display: flex;
    flex-direction: column;
    /* margin: 0 15rem; */
    gap: 40px;
    background-color: #3A208C;
}

.banner{
    background-color: white;
    max-width: 100vw;
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: none;
}

.banner-content{
    padding: 0 0 0 2rem;
}


.banner h1{
    text-align: left;
    font-size: clamp(3rem, 1vw, 1rem);
    font-weight: 800;
}


.banner span{
    font-weight: 300;
    font-family: 'Montagu Slab';
}

.banner p{
    text-align: justify;
}


.episodes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0 15rem;
}

.row-episodes{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.up-column, .dow-column, .mid-column{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: space-between;
}


.dow-column{
    display: none;
}




.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui o conteúdo com espaço entre eles */
    align-items: stretch; /* Garante que os itens se ajustem à largura */
    max-width: 600px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #16022F;
    gap: 0; /* Remove espaços adicionais entre os itens */
    max-height: 480px;
    height: 100%; /* Garante que o box tenha altura fixa */
    overflow: hidden; /* Evita que elementos transbordem */
}

.box a{
    text-decoration: none;
}

.visual-box{
    display: flex;
    padding: 15px;
    gap: 15px;
    flex-grow: 1; 
}

.visual-box img{
    max-width: 200px; 
}

.title-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top:10px;
    gap: 10px;
    color: #4D1362;
    max-height: 320px;
    height: 100%;
}

.title-box h3{
    font-size: clamp(1.3rem, 1vw, 1rem);
    font-weight: 800;
}

.title-box p{
    text-align: left;
    font-size: clamp(1rem, 1vw, 0.8rem);
    font-weight: 500;
    margin-right: 10px;
    max-height: 200px;
}

.title-box u{
    font-weight: 700;
}

.dow-column img, .mid-column img{
    max-height: 270px;
    height: 270px;
}

.box:hover{
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    transition: 0.6s all ease;
}

.ver-mais{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.ver-mais a{
    display: flex;
    text-decoration: none;
    color: white;
    gap: 15px;
    text-align: left;
}

.ver-mais svg{
    margin-top: 2px;
}

.ver-mais a:hover{
    color: #d9d9d9;
    transition: 0.3s ease;
    transform: scale(1.05);
}


.ver-mais svg:hover path{
    fill: #d9d9d9;
    transition: 0.3s ease;
}


footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: white;
    background-color: #16022F;
    max-width: 100vw;
    width: 100%;
    margin-top: 2rem;
    gap: 10px;
}

.body-footer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    gap: 10px;
    width: 80%;
}

.body-footer h2{
    font-size: clamp(1.5rem, 1vw, 1rem);
    font-weight: 900;
}

.body-footer p{
    font-size: clamp(1rem, 1vw, 0.8rem);
    font-weight: 500;
    text-align: start;
}

.queridas-short, .legal-area, .us, .social-media{
    max-width: 250px;
    width: 100%;
}


.body-footer a{
    text-decoration: none;
    color: white;
}


.body-footer h4{
    font-size: clamp(1rem, 1vw, 0.8rem);
    font-weight: 800;
}


.division-footer{
    border-bottom: 2px solid white;
    width:80%;
}

.copyright{
    font-weight: 800;
}

@media screen and (max-width: 912px){
    .banner{
        width: 100%;
    }

    .mid-column{
        display: none;
    }

    .dow-column{
        display: flex;
    }


}

@media screen and (max-width: 768px){
    .up-column, .dow-column{
        flex-wrap: wrap;
    }


    .navbar-responsive{
        display: flex;
        color: white;
    }
    
    .primary-navbar{
        display: none !important;
    }

    .navbar-responsive .navbar-brand{
        color: white;
        font-weight: 800;
        margin-left: 10px;
        padding: 20px;

    }

    
    .navbar-toggler {
        background-color: white; /* Altera o fundo do botão */
        border: none;
    }


    .navbar-responsive a{ 
        color: white;
        font-family: 'Montserrat';
        margin-left: 10px;
        font-weight: 600;
    }


    .navbar-responsive a:hover{
        background-color: #16022F;
        color: white;
    }

    .banner img{
        max-width: 180px;
    }


    .banner h1{
        font-size: 1.5rem;
    }


    .box{
        max-width: 350px;
    }

    .box img{
        max-width: 100px;
    }

    .box h3{
        font-size: 1rem;
    }



    .body-footer{
        display: grid;
        grid-template-columns:  1fr 1fr;
    }

    .copyright{
        font-size: 0.8rem;
    }
}
